{volist name="customPageData" id="vo"}
    {if condition="$vo['name'] == 'swiper'"}
        {include file='custompagedecoration/mobiletemplates/swiper' /}
    {elseif condition="$vo['name'] == 'image'"}
        {include file='custompagedecoration/mobiletemplates/image' /}
    {elseif condition="$vo['name'] == 'goods_group'"}
        {include file='custompagedecoration/mobiletemplates/goods-group' /}
    {elseif condition="$vo['name'] == 'nav'"}
        {include file='custompagedecoration/mobiletemplates/nav' /}
    {elseif condition="$vo['name'] == 'search'"}
        {include file='custompagedecoration/mobiletemplates/search' /}
    {elseif condition="$vo['name'] == 'notice'"}
        {include file='custompagedecoration/mobiletemplates/notice' /}
    {elseif condition="$vo['name'] == 'coupon'"}
        {include file='custompagedecoration/mobiletemplates/coupon' /}
    {elseif condition="$vo['name'] == 'video'"}
        {include file='custompagedecoration/mobiletemplates/video' /}
    {elseif condition="$vo['name'] == 'shopwindow'"}
        {include file='custompagedecoration/mobiletemplates/shopwindow' /}
    {elseif condition="$vo['name'] == 'text'"}
        {include file='custompagedecoration/mobiletemplates/text' /}
    {elseif condition="$vo['name'] == 'txt'"}
        {include file='custompagedecoration/mobiletemplates/txt' /}
    {elseif condition="$vo['name'] == 'image_text'"}
        {include file='custompagedecoration/mobiletemplates/image-text' /}
    {elseif condition="$vo['name'] == 'blank'"}
        {include file='custompagedecoration/mobiletemplates/blank' /}
    {elseif condition="$vo['name'] == 'shop'"}
        {include file='custompagedecoration/mobiletemplates/shop' /}
    {elseif condition="$vo['name'] == 'new'"}
        {include file='custompagedecoration/mobiletemplates/new' /}
    {elseif condition="$vo['name'] == 'marketing'"}
        {include file='custompagedecoration/mobiletemplates/marketing' /}
    {/if}
{/volist}