{extend name="default/base" /}
{block name="title"}{$data['shop']['shopName']} - {__block__}{/block}
{block name="meta"}
<meta name="description" content="{$data['shop']['shopName']}">
<meta name="keywords" content="{$data['shop']['shopName']}">
{/block}
{block name="css"}
<link rel="stylesheet"  href="__STATIC__/plugins/swiper/swiper.min.css"/>
<link rel="stylesheet"  href="__MOBILE__/css/shop_home2.css?v={$v}">
{/block}
{block name="header"}{/block}
{block name="main"}
<input type="hidden" name="" value="" id="condition" autocomplete="off">
<input type="hidden" name="" value="" id="desc" autocomplete="off">
<input type="hidden" name="" value="{$data['shop']['shopId']}" id="shopId" autocomplete="off">
<input type="hidden" name="" value="{$goodsName}" id="keyword" autocomplete="off">
<input type="hidden" name="" value="{$ct1}" id="ct1" autocomplete="off">
<input type="hidden" name="" value="{$ct2}" id="ct2" autocomplete="off">
<input type='hidden' name="" value="0" id="currPage" autocomplete="off">
<input type='hidden' name="" value="0" id="totalPage" autocomplete="off">
<input type="hidden" name="" value="{$data.shop.shopName}" id="shopName" autocomplete="off">
     <section class="ui-container">
     	<div class="wst-sh-banner">
			<header class="ui-header ui-header-positive wst-se-header2 wst-se-header3">
				<i class="ui-icon-return" onclick="history.back()"></i>
				<div class="wst-se-search wst-se-search2" onclick="javascript:WST.searchPage('shops',1);">
				    <i class="ui-icon-search" onclick="javascript:WST.searchPage('shops',1);"></i>
				    <form action＝"" class="input-form">
					<input type="search" value="{$goodsName}" placeholder="按关键字搜索本店商品" onsearch="WST.search(2)" autocomplete="off" disabled="disabled">
					</form>
				</div>
		       	<span class="wst-se-icon wst-se-icon0" onclick="javascript:dataShow();"></span>
		       	 {php}$cartNum = WSTCartNum();{/php}
		       	<a href="{:url('mobile/carts/index')}"><span class="wst-se-icon wst-se-icon2">{if($cartNum>0)}<i>{$cartNum}</i>{/if}</span></a>
			</header>

     	</div>
         {php}$shopId = $data['shop']['shopId'];{/php}
         <div class="wst-intro">
             <div class="wst-intro-content">
                 <div class="wst-intro-content-top">
                     <div class="wst-intro-img"><a href="{:url('home/shops/index',array('shopId'=>$data['shop']['shopId']))}"><img src="__RESOURCE_PATH__/{$data['shop']['shopImg']}" title="{$data['shop']['shopName']|WSTStripTags}"></a></div>
                     <div class="wst-intro-img-r">
                         <div class="wst-intro-shopname">
                             {$data['shop']['shopName']}
                            <div class="wst-intro-head">
                                <img src="/static/images/tjysj.png" alt="">
                            </div>
                         </div>
                         <p class="wst-intro-lb">{$data['goodsNum']}件作品</p>
                         <!-- <div class="wst-intro-f">
                             <div class="wst-intro-ff">描述
                                 <img src="/upload/goods/2019-04/rwu.png" alt="">
                                 <img src="/upload/goods/2019-04/rwu.png" alt="">
                                 <img src="/upload/goods/2019-04/rwu.png" alt="">
                                 <img src="/upload/goods/2019-04/hwu.png" alt="">
                                 <img src="/upload/goods/2019-04/hwu.png" alt="">
                             </div>
                             <div class="wst-intro-ff">服务
                                 <img src="/upload/goods/2019-04/rwu.png" alt="">
                                 <img src="/upload/goods/2019-04/rwu.png" alt="">
                                 <img src="/upload/goods/2019-04/rwu.png" alt="">
                                 <img src="/upload/goods/2019-04/rwu.png" alt="">
                                 <img src="/upload/goods/2019-04/rwu.png" alt="">
                             </div>
                             <div class="wst-intro-ff">物流
                                 <img src="/upload/goods/2019-04/rwu.png" alt="">
                                 <img src="/upload/goods/2019-04/rwu.png" alt="">
                                 <img src="/upload/goods/2019-04/rwu.png" alt="">
                                 <img src="/upload/goods/2019-04/rwu.png" alt="">
                                 <img src="/upload/goods/2019-04/hwu.png" alt="">
                             </div>
                         </div> -->
                     </div>
                 </div>
             </div>
         </div>

         <div class="wst-intro-content-bottom">
             {if($data['shop']['desc'])}
             <div class="wst-intro-content-title">
                 <a class="a_active">简介</a>
                 <a class="" href="{:url('mobile/shops/index2_detail',['shopId'=>$data['shop']['shopId'],'type' => 'story'])}">作品故事</a>
                 <a class="" href="{:url('mobile/shops/index2_detail',['shopId'=>$data['shop']['shopId'],'type' => 'analysis'])}">价值分析</a>
                 <a class="" href="#goods">作品展示</a>
             </div>
             {/if}
         </div>
         <div class="wst-art-content">
             <div class="wst-art-contet-title">
                 <span>简介</span>
             </div>
             <div class="wst-intro-content-info">
                 {$data['shop']['desc']}
             </div>
         </div>
         <div class='wst-clear'></div>
         <div class="services_content">
             <ul>
                 <li class="services_content_1">
                     <a href="{:url('mobile/shops/index2_detail',['shopId'=>$data['shop']['shopId'],'type' => 'story'])}">
                         <img src="/static/images/sj_zpgs.jpg" alt="">
                         <div class="mark">
                             <p></p>
                             <span>查看详情</span>
                         </div>
                     </a>
                 </li>
                 <li class="services_content_2">
                     <a href="{:url('mobile/shops/index2_detail',['shopId'=>$data['shop']['shopId'],'type' => 'analysis'])}">
                         <img src="/static/images/sj_jafx.jpg" alt="">
                         <div class="mark">
                             <p></p>
                             <span>查看详情</span>
                         </div>
                     </a>
                 </li>
             </ul>
         </div>
         <div class='wst-clear'></div>
         <ul class="wst-sh-term" id="j-top" style="display: none;">
             <li id="j-top1" class="active" onclick="javascript:switchTerm(1);">首页</li>
             <li id="j-top0" onclick="javascript:switchTerm(0);">全部商品</li>
             <div class="wst-clear"></div>
         </ul>
         <div class="wst-sh-index" id="j-index1">
             <script id="shopBest" type="text/html">
                 {{# for(var i=0; i<d.length; i++){ }}
                 <div class="wst-in-goods {{# if((i)%2==0){ }}left{{# }else{ }}right{{# } }}" onclick="WST.intoGoods({{d[i].goodsId}})">
                     <div class="img j-imgBest" onclick="WST.intoGoods({{d[i].goodsId}})">
                         <a href="javascript:void(0)" onclick="WST.intoGoods({{d[i].goodsId}})">
                             <img src="__RESOURCE_PATH__/{:WSTConf('CONF.goodsLogo')}" data-echo="__RESOURCE_PATH__/{{d[i].goodsImg }}" title="{{d[i].goodsName}}"/>
                         </a>
                     </div>
                     <div class="name ui-nowrap-multi">{{ d[i].goodsName}}</div>
                     <div class="info"><span class="price"><span>{{# if(d[i].saleType==1){ }}议价{{# }else if(d[i].saleType==2){ }}仅展示{{# }else{ }}¥ {{ d[i].shopPrice }}{{# } }}</span></span></div>
                     <div class="info3">{{ d[i].thumbsNum }}</div>
                 </div>
                 {{# } }}
             </script>
         </div>
        <div class="wst-sh-list" id="j-index0" style="">
            <a name="goods"></a>
            <h2>作品/展示</h2>
        <script id="shopList" type="text/html">
         {{# for(var i=0; i<d.length; i++){ }}
             <div class="wst-in-goods {{# if((i)%2==0){ }}left{{# }else{ }}right{{# } }}" onclick="WST.intoGoods({{d[i].goodsId}})">
             <div class="img j-imgAdapt" onclick="WST.intoGoods({{d[i].goodsId}})">
             <a href="javascript:void(0)" onclick="WST.intoGoods({{d[i].goodsId}})">
             <img src="__RESOURCE_PATH__/{:WSTConf('CONF.goodsLogo')}" data-echo="__RESOURCE_PATH__/{{d[i].goodsImg }}" title="{{d[i].goodsName}}"/>
             </a>
             </div>
			 <div class="goods_foot">
             	<div class="name ui-nowrap-multi">{{ d[i].goodsName}}</div>
				<div class="info"><span class="price"><span>{{# if(d[i].saleType==1){ }}议价{{# }else if(d[i].saleType==2){ }}仅展示{{# }else{ }}¥ {{ d[i].shopPrice }}{{# } }}</span></span></div>
				<div class="name ui-nowrap-multi name-author">
                    {{# if(d[i].goodsAuthor){ }}
                    {{ d[i].goodsAuthor}}
                    {{# } }}
                    &nbsp;
                    {{# if(d[i].goodsTips){ }}
                    {{ d[i].goodsTips}}
                    {{# } }}
                </div>
			</div>
             </div>
          {{# } }}
        </script>

        <div id="shops-list" class="wst-sh-goods"></div>
		</div>

     </section>
	 <div class="contact">
		<div class="contact_top">
			<img src="/upload/goods/2021-04/dhtb.png" alt="">
			<span>咨询热线：{:WSTConf('CONF.serviceTel')}</span>
		</div>
		<p>
			{:WSTConf('CONF.mallFooter')}
		</p>
	</div>
{/block}


{block name="footer"}
<div class="wst-toTop" id="toTop">
	<i class="wst-toTopimg"></i>
</div>
{/* 遮盖层  */}
<div class="wst-cover" id="cover"></div>
{/* 地图层  */}
<div class="wst-fr-box" id="container">
    <div class="title">{$data.shop.shopName} - 店铺地址<i class="ui-icon-close-page" onclick="javascript:mapHide();"></i><div class="wst-clear"></div></div>
    <div id="map"></div>
</div>
{/* 分类层  */}
<div class="wst-fr-box" id="frame">
    <div class="title">商品分类<i class="ui-icon-close-page" onclick="javascript:dataHide();"></i><div class="wst-clear"></div></div>
    <div class="content" id="content">


       <div class="ui-scrollerl" id="ui-scrollerl">
            <ul>
                {wst:shopcats shop="$data['shop']['shopId']" key="k" id="go"}
                <li id="goodscate" class="wst-goodscate {if($k==0)}wst-goodscate_selected{/if}" onclick="javascript:showRight(this,{$k});">{$go['catName']}</li>
                {/wst:shopcats}
            </ul>
        </div>
        {wst:shopcats shop="$data['shop']['shopId']" key="k" id="go"}
        <div class="wst-scrollerr goodscate1" {if($k!=0)}style="display:none;"{/if}>
            <ul>
                <li class="wst-goodsca">
                    <a href="javascript:void(0);" onclick="javascript:goGoodsList({$data['shop']['shopId']},{$go['catId']});"><span>&nbsp;{$go.catName}</span></a>
                    <a href="javascript:void(0);" onclick="javascript:goGoodsList({$data['shop']['shopId']},{$go['catId']});"><i class="ui-icon-arrow"></i></a>
                </li>
                <li>
                    <div class="wst-goodscat">
                        {wst:shopcats shop="$data['shop']['shopId']" cat="$go['catId']" id="go1"}
                        <span><a href="javascript:void(0);" onclick="javascript:goGoodsList({$data['shop']['shopId']},{$go['catId']},{$go1['catId']});">{$go1.catName}</a></span>
                        {/wst:shopcats}
                    </div>
                </li>
            </ul>
            <div class="wst-clear"></div>
        </div>
        {/wst:shopcats}
    </div>
</div>
{/block}
{block name="include"}
    <div class="wst-co-search" id="wst-shops-search" style="background-color: #f6f6f8;">
    <header class="ui-header ui-header-positive wst-se-header2" style="border-bottom: 1px solid #f6f6f8;">
		<i class="ui-icon-return" onclick="javascript:WST.searchPage('shops',0);"></i>
		<div class="wst-se-search">
		    <i class="ui-icon-search" onclick="javascript:WST.search(2);"></i>
		    <form action＝"" class="input-form">
			<input type="search" value="" placeholder="按关键字搜索本店商品" onsearch="WST.search(2)" autocomplete="off" id="wst-search">
			</form>
		</div>
		<a class="btn" href="javascript:void(0);" onclick="javascript:WST.search(2);">搜索</a>
	</header>
	</div>
{/block}
{block name="js"}
<script type='text/javascript' src='__MOBILE__/js/jquery.min.js'></script>
<script type='text/javascript' src='__STATIC__/plugins/swiper/swiper.min.js'></script>
<script type='text/javascript' src='__MOBILE__/js/shop_home2.js'></script>
<script type="text/javascript" src="{:WSTProtocol()}map.qq.com/api/js?v=2.exp&key={:WSTConf('CONF.mapKey')}"></script>
{/block}