<style>
    .swiper-pagination-bullet-active{background:#ffffff;}
    .swiper-pagination-bullet{width: 8px;border-radius:100%;}
</style>
<div class="swiper-container banner custom-banner" style="">
    <div class="swiper-wrapper ads">
                    <div class="swiper-slide" data-swiper-autoplay="3000"><a class='ms-slide' href="{:url('/','','',true)}"><img src="{:url('/','','',true)}upload/custompagedecoration/2019-09/5d8b101891c08.jpg"></a></div>
                    <div class="swiper-slide" data-swiper-autoplay="3000"><a class='ms-slide' href="{:url('/','','',true)}"><img src="{:url('/','','',true)}upload/custompagedecoration/2019-09/5d8b102064960.jpg"></a></div>
            </div>
    <div class="swiper-pagination" style="background:none;"></div>
</div>

            <div class="nav-container" style="background:#ffffff">
                            <div class='navs navs-count-five' >
            <a href="{:url('/','','',true)}wechat/shops/index">
                <img class="nav-style-roundness" src="{:url('/','','',true)}/upload/custompagedecoration/2019-09/5d8b1080b0450.png" alt=''/>
                <div class='navs-info'>
                    <p style="color:#666666">自营超市</p>
                </div>
            </a>
        </div>
                            <div class='navs navs-count-five' >
            <a href="{:url('/','','',true)}wechat/brands/index">
                <img class="nav-style-roundness" src="{:url('/','','',true)}upload/custompagedecoration/2019-09/5d8b108620b70.png" alt=''/>
                <div class='navs-info'>
                    <p style="color:#666666">品牌街</p>
                </div>
            </a>
        </div>
                            <div class='navs navs-count-five' >
            <a href="{:url('/','','',true)}wechat/shops/shopstreet">
                <img class="nav-style-roundness" src="{:url('/','','',true)}upload/custompagedecoration/2019-09/5d8b10a450528.png" alt=''/>
                <div class='navs-info'>
                    <p style="color:#666666">店铺街</p>
                </div>
            </a>
        </div>
                            <div class='navs navs-count-five' >
            <a href="{:url('/','','',true)}wechat/orders/index">
                <img class="nav-style-roundness" src="{:url('/','','',true)}upload/custompagedecoration/2019-09/5d8b10c911940.png" alt=''/>
                <div class='navs-info'>
                    <p style="color:#666666">我的订单</p>
                </div>
            </a>
        </div>
                            <div class='navs navs-count-five' >
            <a href="{:url('/','','',true)}addon/distribut-distribut-wechatdistributgoods">
                <img class="nav-style-roundness" src="{:url('/','','',true)}upload/custompagedecoration/2019-09/5d8b10ddecd10.png" alt=''/>
                <div class='navs-info'>
                    <p style="color:#666666">分销商品</p>
                </div>
            </a>
        </div>
                            <div class='navs navs-count-five' >
            <a href="{:url('/','','',true)}addon/seckill-goods-wxlists">
                <img class="nav-style-roundness" src="{:url('/','','',true)}upload/custompagedecoration/2019-09/5d8b10f84f588.png" alt=''/>
                <div class='navs-info'>
                    <p style="color:#666666">秒杀活动</p>
                </div>
            </a>
        </div>
                            <div class='navs navs-count-five' >
            <a href="{:url('/','','',true)}addon/groupon-goods-wxlists">
                <img class="nav-style-roundness" src="{:url('/','','',true)}upload/custompagedecoration/2019-09/5d8b118726930.png" alt=''/>
                <div class='navs-info'>
                    <p style="color:#666666">团购活动</p>
                </div>
            </a>
        </div>
                            <div class='navs navs-count-five' >
            <a href="{:url('/','','',true)}addon/pintuan-goods-wxlists">
                <img class="nav-style-roundness" src="{:url('/','','',true)}upload/custompagedecoration/2019-09/5d8b119fbf298.png" alt=''/>
                <div class='navs-info'>
                    <p style="color:#666666">拼团</p>
                </div>
            </a>
        </div>
                            <div class='navs navs-count-five' >
            <a href="{:url('/','','',true)}addon/integral-goods-wxlists">
                <img class="nav-style-roundness" src="{:url('/','','',true)}upload/custompagedecoration/2019-09/5d8b11b0493e0.png" alt=''/>
                <div class='navs-info'>
                    <p style="color:#666666">积分商城</p>
                </div>
            </a>
        </div>
                            <div class='navs navs-count-five' >
            <a href="{:url('/','','',true)}addon/auction-goods-wxlists">
                <img class="nav-style-roundness" src="{:url('/','','',true)}upload/custompagedecoration/2019-09/5d8b11c9a21c0.png" alt=''/>
                <div class='navs-info'>
                    <p style="color:#666666">拍卖活动</p>
                </div>
            </a>
        </div>
                            <div class='navs navs-count-five' >
            <a href="{:url('/','','',true)}addon/coupon-coupons-wxindex">
                <img class="nav-style-roundness" src="{:url('/','','',true)}upload/custompagedecoration/2019-09/5d8b120275eb8.png" alt=''/>
                <div class='navs-info'>
                    <p style="color:#666666">领券中心</p>
                </div>
            </a>
        </div>
                            <div class='navs navs-count-five' >
            <a href="{:url('/','','',true)}addon/bargain-goods-wxlists">
                <img class="nav-style-roundness" src="{:url('/','','',true)}upload/custompagedecoration/2019-09/5d8b12157b890.png" alt=''/>
                <div class='navs-info'>
                    <p style="color:#666666">全民砍价</p>
                </div>
            </a>
        </div>
    </div>
            <div class='images'>
            <div class='images-item' style="">
            <img src="{:url('/','','',true)}upload/custompagedecoration/2019-09/5d8b12f277df8.png" />
        </div>
    </div>
            <div>
    <div class="ui_tab">
        <ul class="tab_nav wst-flex-row wst-jsb " style="height:auto;">
                        <li class="tab_item tab_curr" data="0" onclick="changeTab(this)">时蔬水果</li>
                        <li class="tab_item " data="1" onclick="changeTab(this)">酒水饮料</li>
                        <li class="tab_item " data="2" onclick="changeTab(this)">精油食品</li>
                    </ul>
    </div>
    <div class="tab_content">
                <div id="item_content0" class="item_content tab_show" >
                        <div class="wst-in-goods right">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(55);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/goods/2016-10/5804338fbdff6.jpg" title="wstmart开源商城系统 陕西特级红富士1kg (果径约80mm) 苹果 新鲜水果"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(55);">wstmart开源商城系统 陕西特级红富士1kg (果径约80mm) 苹果 新鲜水果</div><div class="info"><span class="price">¥ <span>19.90</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:1</span></div>
            </div>
                        <div class="wst-in-goods left">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(56);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/goods/2016-10/580436293ca47.jpg" title="wstmart开源多用户商城 福建平和红心蜜柚1个约1.1kg/个 柚子 新鲜水果"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(56);">wstmart开源多用户商城 福建平和红心蜜柚1个约1.1kg/个 柚子 新鲜水果</div><div class="info"><span class="price">¥ <span>32.00</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:1</span></div>
            </div>
                        <div class="wst-in-goods right">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(59);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/goods/2016-10/5804423ed2cd6.jpg" title="【wstmart超市】新疆无籽青提1kg 葡萄 提子 新鲜水果"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(59);">【wstmart超市】新疆无籽青提1kg 葡萄 提子 新鲜水果</div><div class="info"><span class="price">¥ <span>40.00</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:1</span></div>
            </div>
                        <div class="wst-in-goods left">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(2);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/shops/2016-10/57f8ae5c37486.jpg" title="开源商城系统 泰国金枕榴莲6.5-7斤"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(2);">开源商城系统 泰国金枕榴莲6.5-7斤</div><div class="info"><span class="price">¥ <span>88.00</span></span></div>                <div class="info2"><span class="price">好评率80%</span><span class="deal">成交数:0</span></div>
            </div>
                        <div class="wst-in-goods right">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(3);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/shops/2016-10/57f8b0ff55267.jpg" title="开源多用户系统 进口香蕉4斤"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(3);">开源多用户系统 进口香蕉4斤</div><div class="info"><span class="price">¥ <span>32.00</span></span></div>                <div class="info2"><span class="price">好评率80%</span><span class="deal">成交数:0</span></div>
            </div>
                        <div class="wst-in-goods left">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(4);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/shops/2016-10/57f8b434e2549.jpg" title="开源商城系统 美国顶级青蛇果4个800g"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(4);">开源商城系统 美国顶级青蛇果4个800g</div><div class="info"><span class="price">¥ <span>30.00</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                    </div>
                <div id="item_content1" class="item_content tab_hide" >
                        <div class="wst-in-goods right">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(20);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/shops/2016-10/57faf6addb474.jpg" title="wstmart thinkphp商城 青岛啤酒 奥古特500ml*12听/箱 德国进口麦芽高端啤酒"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(20);">wstmart thinkphp商城 青岛啤酒 奥古特500ml*12听/箱 德国进口麦芽高端啤酒</div><div class="info"><span class="price">¥ <span>80.00</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                        <div class="wst-in-goods left">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(21);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/shops/2016-10/57faf7843b656.jpg" title="tp 5.0开源商城 青岛啤酒 黑啤 500ml *12听/箱高端焦香麦芽 PK德国黑啤进口啤酒"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(21);">tp 5.0开源商城 青岛啤酒 黑啤 500ml *12听/箱高端焦香麦芽 PK德国黑啤进口啤酒</div><div class="info"><span class="price">¥ <span>64.00</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                        <div class="wst-in-goods right">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(22);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/shops/2016-10/57faf8b91d5c7.jpg" title="thinkphp多用户商城 青岛啤酒纯生500ml*12听/箱 德国进口麦芽啤酒 全国包邮"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(22);">thinkphp多用户商城 青岛啤酒纯生500ml*12听/箱 德国进口麦芽啤酒 全国包邮</div><div class="info"><span class="price">¥ <span>56.00</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                        <div class="wst-in-goods left">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(23);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/shops/2016-10/57fafd4bd27b2.jpg" title="开源多用户商城 青岛啤酒 纯生330ml*24听/箱 德国进口麦芽啤酒 全国包邮"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(23);">开源多用户商城 青岛啤酒 纯生330ml*24听/箱 德国进口麦芽啤酒 全国包邮</div><div class="info"><span class="price">¥ <span>150.00</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                        <div class="wst-in-goods right">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(24);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/shops/2016-10/57faffd3b8ca6.jpg" title="php开源商城 青岛啤酒 福禄寿禧系列 禧罐500ml*12听装 婚庆喜宴 全国包邮"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(24);">php开源商城 青岛啤酒 福禄寿禧系列 禧罐500ml*12听装 婚庆喜宴 全国包邮</div><div class="info"><span class="price">¥ <span>80.00</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                        <div class="wst-in-goods left">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(25);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/shops/2016-10/57fb0076520c3.jpg" title="tp5.0商城 青岛啤酒 鸿运当头啤酒473ml*8瓶高端喜庆礼盒新春送礼啤酒"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(25);">tp5.0商城 青岛啤酒 鸿运当头啤酒473ml*8瓶高端喜庆礼盒新春送礼啤酒</div><div class="info"><span class="price">¥ <span>60.00</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                    </div>
                <div id="item_content2" class="item_content tab_hide" >
                        <div class="wst-in-goods right">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(26);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/shops/2016-10/57fb096855a03.jpg" title="wstmart金龙鱼阳光葵花籽油5L*4大桶装 粮油葵花油植物油金龙鱼油整箱油"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(26);">wstmart金龙鱼阳光葵花籽油5L*4大桶装 粮油葵花油植物油金龙鱼油整箱油</div><div class="info"><span class="price">¥ <span>234.00</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                        <div class="wst-in-goods left">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(39);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/shops/2016-10/57fb5e34d7904.jpg" title="wstmart开源商城 鲁花5S一级花生油4L 物理压榨 食用油 健康纯正"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(39);">wstmart开源商城 鲁花5S一级花生油4L 物理压榨 食用油 健康纯正</div><div class="info"><span class="price">¥ <span>200.00</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                        <div class="wst-in-goods right">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(40);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/shops/2016-10/57fb5ec0535b4.jpg" title="wstmart 鲁花5S一级花生油3.68L 物理压榨食用油 健康"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(40);">wstmart 鲁花5S一级花生油3.68L 物理压榨食用油 健康</div><div class="info"><span class="price">¥ <span>189.00</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                        <div class="wst-in-goods left">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(41);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/shops/2016-10/57fb5f867f2d1.jpg" title="wstmart 福临门 花生原香调和油 5L/桶 健康家居食用油"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(41);">wstmart 福临门 花生原香调和油 5L/桶 健康家居食用油</div><div class="info"><span class="price">¥ <span>200.00</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                        <div class="wst-in-goods right">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(42);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/shops/2016-10/57fb60f80c627.jpg" title="wstmart开源商城 福临门AE非转基因压榨浓香菜籽油 4L/桶 健康食用油"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(42);">wstmart开源商城 福临门AE非转基因压榨浓香菜籽油 4L/桶 健康食用油</div><div class="info"><span class="price">¥ <span>300.00</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                        <div class="wst-in-goods left">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(43);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/shops/2016-10/57fb64067ab77.jpg" title="wstmart开源商城 金龙鱼 葵花食用调和油5L+花生浓香食用调和油5L"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(43);">wstmart开源商城 金龙鱼 葵花食用调和油5L+花生浓香食用调和油5L</div><div class="info"><span class="price">¥ <span>180.00</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                    </div>
                <div class="wst-clear"></div>
    </div>
</div>
<script>
    function changeTab(obj){
        var id = $(obj).attr("data");
        $(".tab_item").removeClass("tab_curr");
        $(obj).addClass("tab_curr");
        $(".item_content").removeClass("tab_show").addClass("tab_hide");
        $("#item_content"+id).addClass("tab_show").removeClass("tab_hide");
    }
</script>
    