.style-main{padding:10px}
.style-box{width:203px;height:307px;border:1px solid #ddd;padding:5px;margin:5px;float:left;box-sizing: content-box;}
.style-box .style-img{width:200px;height:200px;text-align:center;vertical-align:middle;display:block;position:relative}
.style-box .style-img a{display:table-cell;vertical-align:middle;width:200px;height:200px;border:1px solid #ddd}
.style-box .style-img a img{max-width:200px;max-height:200px}
.style-box .style-txt,.style-box .style-author,.style-box .style-web{width:200px;height:25px;overflow:hidden;text-align:left;line-height:25px}
.style-box .style-op{height:30px;text-align:center;overflow:hidden}
