{extend name="$LAYOUT_MOBILE_BASE" /}
{block name="title"}支付报名费 - {__block__}{/block}
{block name="css"}
<link rel="stylesheet"  href="__MOBILE__/css/orders.css?v={$v}">
{/block}
{block name="header"}
    <header class="ui-header ui-header-positive wst-header">
        <i class="ui-icon-return" onclick="history.back()"></i><h1>缴费</h1>
    </header>
{/block}
{block name="main"}
	<input type="hidden" value="{:WSTConf('CONF.pwdModulusKey')}" id="key" autocomplete="off">
   	{/* 大加载 */}
	<div class="ui-loading-block" id="Loadl">
	    <div class="ui-loading-cnt">
	        <i class="ui-loading-bright"></i>
	        <p id="j-Loadl">正在加载中...</p>
	    </div>
	</div>
	<section class="ui-container">
		<input type="hidden" name="orderNo" value="{$signupSn}" id="orderNo" autocomplete="off">
		<input type="hidden" name="isBatch" value="" id="isBatch" autocomplete="off">
		<input type="hidden" name="catId" value="{$catId}" id="catId" autocomplete="off">
	    <div class="wst-wa-info">
	    	<p class="info">钱包余额：<span>¥ {$userMoney}</span>，待支付订单总额：<span>¥ {$needPay}</span></p>
	    	{if($userMoney>=$needPay)}
	    	{if($payPwd==0)}
	    		<p class="pay-info">您尚未设置支付密码，请设置支付密码</p>
	    		<div class="pay">设置密码：<input type="password" id="payPwd" maxlength="6" autocomplete="off"></div>
	    		<div class="pay">确认密码：<input type="password" id="payPwd2" maxlength="6" autocomplete="off"></div>
	    	{else}
	    		<div class="pay">支付密码：<input type="password" id="payPwd" maxlength="6" autocomplete="off"></div>
	    	{/if}
	    	{/if}
	    </div>
	    {if($payPwd==1 && $userMoney>=$needPay)}<div class="wst-wa-forget ui-whitespace"><a href="{:url('wechat/users/backPayPass')}">忘记密码？</a></div>{/if}
		<div style="text-align: center;">
			{if($userMoney>=$needPay)}
			<button type="button" class="wst-btn-dangerlo" onclick="javascript:walletPay({$payPwd});" style="width: 80%;  display: inline-block;">确认支付</button>
			{else}
			<button type="button" class="wst-btn-dangerlo" style="width: 80%;  display: inline-block;" disabled>余额不足</button>
			{/if}
		</div>
	</section>
{/block}
{block name="footer"}{/block}
{block name="js"}
<script type="text/javascript" src="__STATIC__/js/rsa.js"></script>
<script type='text/javascript' src='__MOBILE__/js/jquery.min.js'></script>
<script type='text/javascript' src='__ROOT__/addons/signup/view/wechat/pay_wallets.js?v={$v}'></script>
<script>
$(document).ready(function(){
	backPrevPage(WST.U('wechat/orders/index'));
});
</script>
{/block}