<!DOCTYPE>
{extend name="default/base" /}
{block name="title"}{$data['shop']['shopName']} - {__block__}{/block}
{block name="meta"}
<meta name="description" content="{$data['shop']['shopName']}">
<meta name="keywords" content="{$data['shop']['shopName']}">
{/block}
{block name="css"}
<link href="__STATIC__/plugins/lazyload/skin/laypage.css?v={$v}" rel="stylesheet">
<link href="__STATIC__/plugins/slide/css/slide.css?v={$v}" rel="stylesheet">
<link href="__STYLE__/css/shophome2.css?v={$v}" rel="stylesheet">
<style type="text/css">
</style>
{/block}
{block name="shop_header"}
<div style="width:100%;"></div>
<div class="wst-clear"></div>
    {php}$shopId = $data['shop']['shopId'];{/php}
	<div class="wst-intro">
		<div class="wst-intro-content">
			<div class="wst-intro-content-top">
				<div class="wst-intro-img"><a href="{:url('home/shops/index',array('shopId'=>$data['shop']['shopId']))}"><img src="__RESOURCE_PATH__/{$data['shop']['shopImg']}" title="{$data['shop']['shopName']|WSTStripTags}"></a></div>
				<div class="wst-intro-img-r">
					<div class="wst-intro-shopname">
						{$data['shop']['shopName']}
						<div class="wst-intro-head">
							<img src="/static/images/tjysj.png" alt="">
						</div>
					</div>
					<p class="wst-intro-lb">{$data['goodsNum']}件作品</p>
					<!-- <div class="wst-intro-f">
						<div class="wst-intro-ff">描述 
							<img src="/upload/goods/2019-04/rwu.png" alt="">
							<img src="/upload/goods/2019-04/rwu.png" alt="">
							<img src="/upload/goods/2019-04/rwu.png" alt="">
							<img src="/upload/goods/2019-04/hwu.png" alt="">
							<img src="/upload/goods/2019-04/hwu.png" alt="">
						</div>
						<div class="wst-intro-ff">服务 
							<img src="/upload/goods/2019-04/rwu.png" alt="">
							<img src="/upload/goods/2019-04/rwu.png" alt="">
							<img src="/upload/goods/2019-04/rwu.png" alt="">
							<img src="/upload/goods/2019-04/rwu.png" alt="">
							<img src="/upload/goods/2019-04/rwu.png" alt="">
						</div>
						<div class="wst-intro-ff">物流 
							<img src="/upload/goods/2019-04/rwu.png" alt="">
							<img src="/upload/goods/2019-04/rwu.png" alt="">
							<img src="/upload/goods/2019-04/rwu.png" alt="">
							<img src="/upload/goods/2019-04/rwu.png" alt="">
							<img src="/upload/goods/2019-04/hwu.png" alt="">
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>

	<div class="wst-intro-content-bottom">
		{if($data['shop']['desc'])}
		<div class="wst-intro-content-title">
			<a class="a_active">简介</a>
			<a class="" href="{:url('home/shops/index2_detail',['shopId'=>$data['shop']['shopId'],'type' => 'story'])}">作品故事</a>
			<a class="" href="{:url('home/shops/index2_detail',['shopId'=>$data['shop']['shopId'],'type' => 'analysis'])}">价值分析</a>
			<a class="" href="#goods">作品展示</a>
		</div>
		{/if}
	</div>
	<div class="wst-art-content">
		<div class="wst-art-contet-title">
			<span>简介</span>
		</div>
		<div class="wst-intro-content-info">
			{$data['shop']['desc']}
		</div>
	</div>
	<div class='wst-clear'></div>
	<div class="services_content">
		<ul>
			<li class="services_content_1">
				<a href="{:url('home/shops/index2_detail',['shopId'=>$data['shop']['shopId'],'type' => 'story'])}">
					<img src="/static/images/jzfx.png" alt="">
					<div class="mark">
						<p></p>
						<span>查看详情</span>
					</div>
				</a>
			</li>
			<li class="services_content_2">
				<a href="{:url('home/shops/index2_detail',['shopId'=>$data['shop']['shopId'],'type' => 'analysis'])}">
					<img src="/static/images/zpgs.png" alt="">
					<div class="mark">
						<p></p>
						<span>查看详情</span>
					</div>
				</a>
			</li>
		</ul>
	</div>
	<div class='wst-clear'></div>
	<div class="wst-art-content">
		<a name="goods"></a>
		<div class="wst-art-contet-title">
			<span>作品</span>/展示
		</div>
		<div class="wst-art-content-list">
			<ul>
				{volist name="$data['list']['data']" id="li"}
				<li>
					<a href="{:url('home/goods/detail',array('goodsId'=>$li['goodsId']))}" target="_blank"><img src="__RESOURCE_PATH__/{$li['goodsImg']}" alt=""></a>
					<p class="wst-art-title">{:WSTMSubstr($li['goodsName'],0,15)}</p>
					<div class="wst-art-cont">
						价格 ￥ <span>{if($li['saleType']==1)}议价{elseif($li['saleType']==2)}仅做展示{else}￥{$li['shopPrice']}{/if}</span>
					</div>
				</li>
				{/volist}
			</ul>
		</div>
		<div class="shopstrPaging">
			<div id="shopPage"></div>
		</div>
	</div>
{/block}
{block name="main"}
<input type="hidden" id="msort" value="{$msort}" autocomplete="off"/>
<input type="hidden" id="mdesc" value="{$mdesc}" autocomplete="off"/>
<input type="hidden" id="shopId" value="{$data['shop']['shopId']}" autocomplete="off"/>
<input type="hidden" id="ct1" value="{$ct1}" autocomplete="off"/>
<input type="hidden" id="ct2" value="{$ct2}" autocomplete="off"/>
{include file="default/right_cart"/}
{/block}
{block name="js"}
<script type="text/javascript" src="__STATIC__/plugins/slide/js/slide.js?v={$v}"></script>
<script type='text/javascript' src='__STYLE__/js/shophome2.js?v={$v}'></script>
<script type='text/javascript' src='__STYLE__/js/qrcode.js?v={$v}'></script>
<script type="text/javascript" src="{:WSTProtocol()}map.qq.com/api/js?v=2.exp&key={:WSTConf('CONF.mapKey')}"></script>
<script>
$(function(){
	$(document).keypress(function(e) { 
          if(e.which == 13) {  
            searchShopsGoods();  
          }
    }); 
	if({$data['list']['last_page']}>1){
	laypage({
	    cont: 'shopPage',
	    pages: {$data['list']['last_page']}, //总页数
	    curr: {$data['list']['current_page']},
	    skip: true, //是否开启跳页
	    skin: '#fd6148',
	    groups: 3, //连续显示分页数
	   	prev: '<<',
		next: '>>',
	    jump: function(e, first){ //触发分页后的回调
	        if(!first){ //一定要加此判断，否则初始时会无限刷新
	        	var nuewurl = WST.splitURL("page");
	        	var ulist = nuewurl.split("?");
	        	if(ulist.length>1){
	        		location.href = nuewurl+'&page='+e.curr;
	        	}else{
	        		location.href = '?page='+e.curr;
	        	}
	            
	        }
	    }
	});
	}
	var qr = qrcode(10, 'H');
	var url = '{:url("mobile/shops/index",array("shopId"=>$data["shop"]["shopId"]),true,true)}';
	qr.addData(url);
	qr.make();
	$('#qrcode').html(qr.createImgTag());
	var width = $(window).width();
	$('.wst-shop-tu').css('width',width);
});
</script>
{/block}
{block name="footer"}{__block__}
{/block}