<style>
    .swiper-pagination-bullet-active{background:#ffffff;}
    .swiper-pagination-bullet{width: 8px;border-radius:100%;}
</style>
<div class="swiper-container banner custom-banner" style="">
    <div class="swiper-wrapper ads">
                    <div class="swiper-slide" data-swiper-autoplay="3000"><a class='ms-slide' href="{:url('/','','',true)}"><img src="{:url('/','','',true)}upload/custompagedecoration/2019-09/5d8983704d0d0.jpg"></a></div>
                    <div class="swiper-slide" data-swiper-autoplay="3000"><a class='ms-slide' href="{:url('/','','',true)}"><img src="{:url('/','','',true)}upload/custompagedecoration/2019-09/5d8983774f7e0.jpg"></a></div>
            </div>
    <div class="swiper-pagination" style="background:none;"></div>
</div>
            <div class="nav-container" style="background:#ffffff">
                            <div class='navs navs-count-five' >
            <a href="{:url('/','','',true)}mshop-1">
                <img class="nav-style-roundness" src="{:url('/','','',true)}upload/custompagedecoration/2019-09/5d8983c57e1f8.png" alt=''/>
                <div class='navs-info'>
                    <p style="color:#666666">自营超市</p>
                </div>
            </a>
        </div>
                            <div class='navs navs-count-five' >
            <a href="{:url('/','','',true)}mbrands">
                <img class="nav-style-roundness" src="{:url('/','','',true)}upload/custompagedecoration/2019-09/5d8983cc8a548.png" alt=''/>
                <div class='navs-info'>
                    <p style="color:#666666">品牌街</p>
                </div>
            </a>
        </div>
                            <div class='navs navs-count-five' >
            <a href="{:url('/','','',true)}mstreet">
                <img class="nav-style-roundness" src="{:url('/','','',true)}upload/custompagedecoration/2019-09/5d8983e625800.png" alt=''/>
                <div class='navs-info'>
                    <p style="color:#666666">店铺街</p>
                </div>
            </a>
        </div>
                            <div class='navs navs-count-five' >
            <a href="{:url('/','','',true)}mobile/orders/index">
                <img class="nav-style-roundness" src="{:url('/','','',true)}upload/custompagedecoration/2019-09/5d8983ebe4e80.png" alt=''/>
                <div class='navs-info'>
                    <p style="color:#666666">我的订单</p>
                </div>
            </a>
        </div>
                            <div class='navs navs-count-five' >
            <a href="{:url('/','','',true)}addon/distribut-distribut-mobiledistributgoods">
                <img class="nav-style-roundness" src="{:url('/','','',true)}upload/custompagedecoration/2019-09/5d89840056928.png" alt=''/>
                <div class='navs-info'>
                    <p style="color:#666666">分销商品</p>
                </div>
            </a>
        </div>
                            <div class='navs navs-count-five' >
            <a href="{:url('/','','',true)}addon/seckill-goods-molists">
                <img class="nav-style-roundness" src="{:url('/','','',true)}upload/custompagedecoration/2019-09/5d8985c31bfa8.png" alt=''/>
                <div class='navs-info'>
                    <p style="color:#666666">秒杀活动</p>
                </div>
            </a>
        </div>
                            <div class='navs navs-count-five' >
            <a href="{:url('/','','',true)}addon/groupon-goods-molists">
                <img class="nav-style-roundness" src="{:url('/','','',true)}upload/custompagedecoration/2019-09/5d8985c9b2db8.png" alt=''/>
                <div class='navs-info'>
                    <p style="color:#666666">团购活动</p>
                </div>
            </a>
        </div>
                            <div class='navs navs-count-five' >
            <a href="{:url('/','','',true)}addon/integral-goods-molists">
                <img class="nav-style-roundness" src="{:url('/','','',true)}upload/custompagedecoration/2019-09/5d8985d0da688.png" alt=''/>
                <div class='navs-info'>
                    <p style="color:#666666">积分商城</p>
                </div>
            </a>
        </div>
                            <div class='navs navs-count-five' >
            <a href="{:url('/','','',true)}addon/auction-goods-molists">
                <img class="nav-style-roundness" src="{:url('/','','',true)}upload/custompagedecoration/2019-09/5d8985d8aeb50.png" alt=''/>
                <div class='navs-info'>
                    <p style="color:#666666">拍卖活动</p>
                </div>
            </a>
        </div>
                            <div class='navs navs-count-five' >
            <a href="{:url('/','','',true)}addon/coupon-coupons-moindex">
                <img class="nav-style-roundness" src="{:url('/','','',true)}upload/custompagedecoration/2019-09/5d8985dfcc7e0.png" alt=''/>
                <div class='navs-info'>
                    <p style="color:#666666">领券中心</p>
                </div>
            </a>
        </div>
    </div>
            <div class='images'>
            <div class='images-item' style="">
            <a href="{:url('/','','',true)}">
                <img src="{:url('/','','',true)}upload/custompagedecoration/2019-09/5d8983b083bd0.png" />
            </a>
        </div>
    </div>
            <div>
    <div class="ui_tab">
        <ul class="tab_nav wst-flex-row wst-jsb " style="height:auto;">
                        <li class="tab_item tab_curr" data="0" onclick="changeTab(this)">时蔬水果</li>
                        <li class="tab_item " data="1" onclick="changeTab(this)">酒水饮料</li>
                        <li class="tab_item " data="2" onclick="changeTab(this)">粮油食品</li>
                    </ul>
    </div>
    <div class="tab_content">
                <div id="item_content0" class="item_content tab_show" >
                        <div class="wst-in-goods right">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(1);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/goods/2019-02/5c6fdbb43c60b.jpg" title="四川果冻橙6个约180g/个"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(1);">四川果冻橙6个约180g/个</div><div class="info"><span class="price">¥ <span>38.00</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                        <div class="wst-in-goods left">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(2);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/goods/2019-02/5c6fdf5443b8b.jpg" title="鲜丰水果 秭归脐橙 中华红橙 9斤家庭装 单果130g—220g 4500g"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(2);">鲜丰水果 秭归脐橙 中华红橙 9斤家庭装 单果130g—220g 4500g</div><div class="info"><span class="price">¥ <span>59.90</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                        <div class="wst-in-goods right">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(3);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/goods/2019-02/5c6fe180538b0.jpg" title="红颜奶油草莓 约重500g/15-20颗 新鲜水果"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(3);">红颜奶油草莓 约重500g/15-20颗 新鲜水果</div><div class="info"><span class="price">¥ <span>49.90</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                        <div class="wst-in-goods left">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(4);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/goods/2019-02/5c6fe328ca438.jpg" title="智利进口车厘子J级 1磅装 果径约26-28mm 新鲜水果"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(4);">智利进口车厘子J级 1磅装 果径约26-28mm 新鲜水果</div><div class="info"><span class="price">¥ <span>79.00</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                        <div class="wst-in-goods right">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(5);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/goods/2019-02/5c6fe4e52497d.jpg" title="Zespri佳沛 新西兰阳光金奇异果 6个装 经典36-39号果 单果重约80-100g 新鲜水果"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(5);">Zespri佳沛 新西兰阳光金奇异果 6个装 经典36-39号果 单果重约80-100g 新鲜水果</div><div class="info"><span class="price">¥ <span>59.90</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                        <div class="wst-in-goods left">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(6);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/goods/2019-02/5c7009f97fed8.jpg" title="花果山 云南甜玉米 水果玉米 约2.5kg 6-9根 烧烤食材 新鲜蔬菜"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(6);">花果山 云南甜玉米 水果玉米 约2.5kg 6-9根 烧烤食材 新鲜蔬菜</div><div class="info"><span class="price">¥ <span>26.80</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                    </div>
                <div id="item_content1" class="item_content tab_hide" >
                        <div class="wst-in-goods right">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(48);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/goods/2019-02/5c702c18b06d8.jpg" title="五粮液52度普五 500ML（新老包装随机发货）"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(48);">五粮液52度普五 500ML（新老包装随机发货）</div><div class="info"><span class="price">¥ <span>1050.00</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                        <div class="wst-in-goods left">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(49);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/goods/2019-02/5c702ce84a8c1.jpg" title="泸州老窖 国窖 1573 52度 浓香型白酒 500ml （百年品牌 泸州老窖荣誉出品）"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(49);">泸州老窖 国窖 1573 52度 浓香型白酒 500ml （百年品牌 泸州老窖荣誉出品）</div><div class="info"><span class="price">¥ <span>969.00</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                        <div class="wst-in-goods right">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(50);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/goods/2019-02/5c702d7797b80.jpg" title="剑南春 水晶剑 52度 单瓶装白酒 500ml 口感浓香型"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(50);">剑南春 水晶剑 52度 单瓶装白酒 500ml 口感浓香型</div><div class="info"><span class="price">¥ <span>898.00</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                        <div class="wst-in-goods left">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(51);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/goods/2019-02/5c702de916219.jpg" title="长城（GreatWall）红酒 特选5年橡木桶解百纳干红葡萄酒 整箱装 750ml*6瓶"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(51);">长城（GreatWall）红酒 特选5年橡木桶解百纳干红葡萄酒 整箱装 750ml*6瓶</div><div class="info"><span class="price">¥ <span>399.00</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                        <div class="wst-in-goods right">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(52);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/goods/2019-02/5c702e71a981a.jpg" title="法国进口红酒 拉菲（LAFITE）传奇波尔多干红葡萄酒 整箱装 750ml*6瓶（ASC）"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(52);">法国进口红酒 拉菲（LAFITE）传奇波尔多干红葡萄酒 整箱装 750ml*6瓶（ASC）</div><div class="info"><span class="price">¥ <span>498.00</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                        <div class="wst-in-goods left">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(53);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/goods/2019-02/5c702f3c3603e.jpg" title="法国原瓶进口红酒凯旋干红葡萄酒礼盒750ml整箱6支装"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(53);">法国原瓶进口红酒凯旋干红葡萄酒礼盒750ml整箱6支装</div><div class="info"><span class="price">¥ <span>279.00</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                    </div>
                <div id="item_content2" class="item_content tab_hide" >
                        <div class="wst-in-goods right">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(84);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/goods/2019-02/5c70be4e021d5.jpg" title="十月稻田 稻花香米 东北大米 大米5kg"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(84);">十月稻田 稻花香米 东北大米 大米5kg</div><div class="info"><span class="price">¥ <span>55.00</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                        <div class="wst-in-goods left">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(85);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/goods/2019-02/5c70bf06eb2a7.jpg" title="十月稻田 长粒香大米 东北大米5kg"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(85);">十月稻田 长粒香大米 东北大米5kg</div><div class="info"><span class="price">¥ <span>39.00</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                        <div class="wst-in-goods right">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(86);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/goods/2019-02/5c70bf9fbfe3c.jpg" title="福临门 东北大米 水晶米 中粮出品 大米5kg"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(86);">福临门 东北大米 水晶米 中粮出品 大米5kg</div><div class="info"><span class="price">¥ <span>28.50</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                        <div class="wst-in-goods left">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(87);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/goods/2019-02/5c70c02c69f69.jpg" title="福临门 泰玉香 一品茉莉香米 进口原粮 大米 中粮出品 5kg（包装更新，新老包装随机发放）"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(87);">福临门 泰玉香 一品茉莉香米 进口原粮 大米 中粮出品 5kg（包装更新，新老包装随机发放）</div><div class="info"><span class="price">¥ <span>29.90</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                        <div class="wst-in-goods right">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(88);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/goods/2019-02/5c70c0c84b2e4.jpg" title="华润 五丰 东北大米 优选东北珍珠米5kg"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(88);">华润 五丰 东北大米 优选东北珍珠米5kg</div><div class="info"><span class="price">¥ <span>28.90</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                        <div class="wst-in-goods left">
                <div class="img j-imgAdapt"><a href="javascript:void(0);" onclick="javascript:WST.intoGoods(89);"><img src="{:url('/','','',true)}upload/sysconfigs/2016-10/5804802a4b162.png" data-echo="{:url('/','','',true)}upload/goods/2019-02/5c70c1478f9bc.jpg" title="十月稻田 黄小米 （ 月子米 小米粥 杂粮 真空装 粥米伴侣 大米搭档）1kg"/></a></div>
                <div class="name ui-nowrap-multi" onclick="javascript:WST.intoGoods(89);">十月稻田 黄小米 （ 月子米 小米粥 杂粮 真空装 粥米伴侣 大米搭档）1kg</div><div class="info"><span class="price">¥ <span>21.50</span></span></div>                <div class="info2"><span class="price">好评率100%</span><span class="deal">成交数:0</span></div>
            </div>
                    </div>
                <div class="wst-clear"></div>
    </div>
</div>
<script>
    function changeTab(obj){
        var id = $(obj).attr("data");
        $(".tab_item").removeClass("tab_curr");
        $(obj).addClass("tab_curr");
        $(".item_content").removeClass("tab_show").addClass("tab_hide");
        $("#item_content"+id).addClass("tab_show").removeClass("tab_hide");
    }
</script>
    